:root {
  --app-background-color: #ffffff;
  --primary-text-color: #282627;
  --primary-button-text-color: #ffffff;
  --login-card-box-shadow: #cccccc;
  /* Add more color variables as needed */
}

body {
  margin: 0px;
  font-family: "DM Sans";
}

.post {
  width: 100%;
  min-width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  font-family: "DM Sans";

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.card-body {
  min-height: 120px;
  max-height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card-footer {
  width: calc(100% - 30px);
  height: 50px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
  color: var(--primary-text-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.createPostPage {
  font-family: "DM Sans";
  width: 100dvw;
  height: calc(100dvh - 55px);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #ffffff; */
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

.formContainer span {
  color: red;
}

.headerContainer {
  background-color: #ffffff;
  height: 55px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px #cccccc;
}

.header-right-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navigationLink {
  text-decoration: none;
  color: #ffffff;
  /* margin-right: 25px; */
}

.bodyContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  height: calc(100% - 40px);
  padding: 20px;
  overflow-y: scroll;
}
@media (max-width: 986px) {
  .bodyContainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 625px) {
  .bodyContainer {
    grid-template-columns: 1fr;
  }
}

.user-related-empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 40px);
  padding: 20px;
  overflow-y: hidden;
}

.user-related-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  height: calc(100% - 40px);
  padding: 20px;
  overflow-y: scroll;
}
@media (max-width: 986px) {
  .user-related-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 625px) {
  .user-related-cards-container {
    grid-template-columns: 1fr;
  }
}

/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
@media (max-width: 986px) {
  .postPage {
    flex-direction: column;
  }
}

.leftSide {
  width: 50%;
  height: calc(100vh - 55px);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 986px) {
  .leftSide {
    width: 100%;
    height: 40%;
    margin-top: 20px;
  }
}

.rightSide {
  width: 50%;
  height: calc(100vh - 55px);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 986px) {
  .rightSide {
    width: 100%;
    height: 60%;
    margin-top: 20px;
  }
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title,
#individual .footer {
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
}

.input-label-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.input-label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 7px;
}

.input-field {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  padding-bottom: 7px;
  font-size: 14px;
  color: #282627;
}

.textarea-field {
  width: calc(100% - 14px);
  outline: none;
  padding: 7px;
  font-size: 14px;
  color: #282627;
  resize: none;
  height: 200px;
  font-family: "DM Sans";
}

.create-post-container > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-primary {
  background-color: #282627;
  color: #ffffff;
  border: none;
  width: 100%;
  padding: 7px;
  border-radius: 3px;
}

/* App.js */

.app-container {
  background-color: var(--app-background-color);
  height: 100dvh;
  width: 100%;
}

.app-body {
  height: calc(100vh - 55px);
  overflow-y: hidden;
}

/* Login.js */

.login-bg-container {
  width: 100%;
  height: calc(100dvh - 55px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .login-bg-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.image-container {
  width: 50dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .image-container {
    display: none;
  }
}

.login-container {
  width: 50dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
@media (max-width: 768px) {
  .login-container {
    width: 85dvw;
    height: 100dvh;
  }
}

.login-img {
  width: 90%;
}

.login-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 0px 10px var(--login-card-box-shadow);
  border-radius: 10px;
  margin: 20px 0px;
}

.create-post-container {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 0px 10px var(--login-card-box-shadow);
  border-radius: 10px;
  margin: 20px 0px;
}

.login-card-container > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo-img-container {
  width: 30%;
}

.logo-img-container-header {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 100%;
}

.logo-img-header {
  height: 40px;
}

.password-input-container {
  width: 100%;
  position: relative;
}

.eye-icon-position {
  position: absolute;
  top: 0px;
  right: 0px;
}

.error-msg {
  color: red;
  font-size: 12px;
}

.user-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #c5c5c5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.username-in-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000;
}

.menu-item-text {
  font-size: 16px;
  margin: 7px 0px;
}

.menu-item-span {
  margin-left: 7px;
  font-size: 14px;
}

.card-header {
  background-color: var(--primary-text-color);
  height: 50px;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 0px 10px;
}

.post-body-text {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.profile-page {
  height: 100%;
}

.post-body-text-expand {
  font-size: 14px;
  overflow: auto;
}

.profile-container {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-card-container {
  height: 80%;
}

.modal-container {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.likes-popup-styles {
  height: 70%;
  max-height: 300px;
  min-width: 300px;
  overflow-y: scroll;
}

.likes-popup-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.user-icon-container {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon-styles {
  font-size: 20px;
  color: #282828;
}

.user-name-styles {
  margin-left: 7px;
  font-size: 16px;
  font-weight: 500;
}

.post-card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}

.post-card-name {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.time-created-text {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 7px;
}

.card-footer-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-footer-likes-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.likes-icon {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-footer-comments-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.left-side-card-container {
  width: calc(80% + 40px);
}

.right-side-comments-container {
  height: 80%;
  width: 80%;
  box-shadow: 0px 0px 10px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.comments-container {
  flex: 1;
  overflow-y: scroll;
}

.each-comment-container {
  display: flex;
  flex-direction: row;
}

.user-name-text {
  font-size: 16px;
  font-weight: 700;
}

.user-comment-text {
  margin-left: 7px;
  font-size: 14px;
}

.trash-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.comments-section-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.comment-textarea {
  resize: none;
  width: 90%;
  min-height: 50px;
  max-height: 100px;
  flex: 1;
  outline: none;
}

.comment-button-container {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.user-card-container {
  display: flex;
  flex-direction: column;
  height: 80%;
}
